{% extends 'app/base.html' %}

{% block books_active%}active{% endblock %}

{% block content %}
<h2>Books {% if author %} of {{ author }} {% endif %}</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Publication year</th>
            {% if not author %}
            <th scope="col">Authors</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for book in books %}
    <tr>
        <td scope="row">{{ book }}</td>
        <td>{{ book.publication_year }}</td>
        <td>
        {% if not author %}
            {% for author in book.authors.all %}
                {{ author }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        {% endif %}
        </td>
    {% endfor %}
    </tbody>
</table>
<br>
{% if user.is_authenticated %}
<a href="{% url 'app:create_book' %}">Add book</a>
{% endif %}
{% endblock %}
[