{% extends 'app/base.html' %}
{% load add_css %}
{% block content %}
    <h2>Search</h2>
    <form class="form-inline" action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            {{ field.errors }}
            {{ field|css:"form-control col-2 mr-sm-2" }}
            <button class="btn btn-outline-success" type="submit">Search</button>
        {% endfor %}
    </form>
    <br>
    {% if books %}
        <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                {% if not author %}
                <th scope="col">Authors</th>
                {% endif %}
                <th scope="col">Genres</th>
                <th scope="col">Publication year</th>
                <th scope="col">ISBN</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
        <tr>
            <td scope="row">{{ book.title }}</td>
            <td>
            {% for author in book.authors.all %}
                {{ author }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
            </td>
            <td>
            {% for genre in book.genres.all %}
                {{ genre }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
            </td>
            <td>{{ book.publication_year }}</td>
            <td>{{ book.isbn }}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    {% endif %}
{% endblock %}
